@media (min-width: 900px) {
  .davsidebar {
    display: grid
  }

  .davexplorerview {
    grid-template-columns: 1fr 5fr;
  }

  .tablecell {
    display: flex
  }

  .davbreadcrumbmenu {
    display: none
  }

  .davbreadcrumb {
    display: flex
  }

  .davbreadcrumb::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
  }

  .davtree {
    scrollbar-width: thin;
  }

  .largehidden {
    display: none;
  }

  .davphotoviewicon {
    width: 36px;
    height: 36px;
  }
}